[submodule "backend"]
	path = backend
	url = https://github.com/redoceanmap/com.redoceanmap.api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/redoceanmap/com.redoceanmap.www.git
[submodule "docs"]
	path = docs
	url = https://github.com/redoceanmap/com.redoceanmap.docs.git
